.renderText {
    color: #2E8B57;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
}

.renderText:hover {
    opacity: 0.6;
    color: #2E8B57;
}

.subTopics {
    color: #3CB371;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
}

.subTopics:hover {
    font-weight: 900;
    color: #3CB371;
}

.titleComp {
    color: #2F4F4F;
    font-family: 'Arvo', serif;
    text-decoration: underline;
}

.iconExam {
    text-decoration: none;
    float: right;
    color: #DC143C;
}

@media only screen and (max-width: 600px) {
    .iconExam {
        margin: 10px;
    }
}

.gradeInput {
    width: 80px;
    height: 30px;
    border: 1px solid red;
}