#header {
    background: url('../../assets/img/jumbotronPicture1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#Jumbo {
    color: white;
    text-shadow: 2px 1px black;
}

#Jumbo>p {
    font-weight: 500;
}

hr {
    width: 70vw;
}

@media only screen and (max-width: 768px) {
    #Jumbo{
        background-size: 100vw;
    }
    #Jumbo>h1{
        font-size: 10vw;
    }

}